In [1]:
import pandas as pd 
from sklearn.cluster import AgglomerativeClustering
from sklearn.model_selection import cross_val_score
from sklearn.cluster import KMeans

In [2]:
df=pd.read_csv("data/county_facts.csv")
df=df.dropna(subset=["state_abbreviation"])
#df=df.drop('Unnamed: 0',axis=1)
df=df.rename(index=str,columns={"PST045214": "Pop2014",
                            "PST040210": "Pop2010EST",
                            "PST120214": "Pop%Change",
                            "POP010210":"Pop2010",
                            "AGE135214": "Under5%",
                            "AGE295214": "Under18%",
                            "AGE775214": "Over65%",
                            "SEX255214": "Female%",
                            "RHI125214": "White%",
                            "RHI225214": "Black%",
                            "RHI325214": "NativeA%",
                            "RHI425214": "Asian%",
                            "RHI525214": "PIsland%",
                            "RHI625214": "TwoRace%",
                            "RHI725214": "Latino",
                            "RHI825214": "WhiteNLat%",
                            "POP715213": "SameHouse1yr%",
                            "POP645213": "ForeignBorn%",
                            "POP815213": "NonEnglish%",
                            "EDU635213": "HighSchoolGrad%",
                            "EDU685213": "Bachelor%",
                            "VET605213": "Veteran",
                            "LFE305213": "TravelTime",
                            "HSG010214": "HousingUnits",
                            "HSG445213": "OwnershipRate",
                            "HSG096213": "UnitsinMultiUnit%",
                            "HSG495213": "MedianValueHousing",
                             "HSD410213": "Households",
                            "INC910213": "PerCapitaIncome",
                            "INC110213": "MedianIncome",
                            "PVY020213": "%BelowPoverty",
                            "BZA010213": "PrivateNotFarmsEstablish",
                            "BZA110213": "PrivateNotFarmEmploy",
                            "BZA115213": "NotFarm%Change",
                            "NES010213": "NonEmployerEstablish",
                            "SBO315207": "Black-owned%",
                            "SBO115207": "Native-owned%",
                            "SBO215207": "Asian-owned%",
                            "SBO515207": "PIslnder-owned%",
                            "SBO415207": "Hispanic-owned%",
                            "SBO015207": "Woman-owned",
                            "MAN450207": "Manfact shipments 1k",
                            "WTN220207": "Merchant sales 1k",
                            "RTN130207": "Retail sales 1k",
                            "RTN131207": "Retail sales/capita",
                            "AFN120207": "Accomd/FoodServ sales 1k",
                            "BPS030214": "BuildingPermits",
                            "LND110210": "LandArea",
                            "POP060210": "Pop/SqMile",
                            "fips": "FIPS"})

In [3]:
x_vars=["PST040210",
"PST120214",
"POP010210",
"AGE135214",
"AGE295214",
"AGE775214",
"SEX255214",
"RHI125214",
"RHI225214",
"RHI325214",
"RHI425214",
"RHI525214",
"RHI625214",
"RHI725214",
"RHI825214",
"POP715213",
"POP645213",
"POP815213",
"EDU635213",
"EDU685213",
"VET605213",
"LFE305213",
"HSG010214",
"HSG445213",
"HSG096213",
"HSG495213",
"HSD410213",
"HSD310213",
"INC910213",
"INC110213",
"PVY020213",
"BZA010213",
"BZA110213",
"BZA115213",
"NES010213",
"SBO001207",
"SBO315207",
"SBO115207",
"SBO215207",
"SBO515207",
"SBO415207",
"SBO015207",
"MAN450207",
"WTN220207",
"RTN130207",
"RTN131207",
"AFN120207",
"BPS030214",
"LND110210",
"POP060210"
]

In [4]:
x_vars=["Pop2014","Pop2010EST","Pop%Change","Pop2010",
                    "Under5%","Under18%","Over65%","Female%",
                     "White%","Black%","NativeA%","Asian%",
                    "PIsland%","TwoRace%","Latino", "WhiteNLat%",
                     "SameHouse1yr%","ForeignBorn%","NonEnglish%","HighSchoolGrad%",
                    "Bachelor%","Veteran", "TravelTime","HousingUnits", 
                     "OwnershipRate","UnitsinMultiUnit%","MedianValueHousing",
                     "Households","PerCapitaIncome","MedianIncome","%BelowPoverty",
                     "PrivateNotFarmsEstablish","PrivateNotFarmEmploy","NotFarm%Change","NonEmployerEstablish",
                    "Black-owned%","Native-owned%","Asian-owned%","PIslnder-owned%",
                     "Hispanic-owned%","Woman-owned","Manfact shipments 1k",
                    "Merchant sales 1k","Retail sales 1k","Retail sales/capita",
                     "Accomd/FoodServ sales 1k","BuildingPermits","LandArea","Pop/SqMile"]

In [5]:
model=AgglomerativeClustering(n_clusters=8)

In [6]:
model.fit(df[x_vars])

AgglomerativeClustering(affinity='euclidean', compute_full_tree='auto',
            connectivity=None, linkage='ward',
            memory=Memory(cachedir=None), n_clusters=8,
            pooling_func=<function mean at 0x7f11d41ebea0>)

In [7]:
model.fit_predict(df[x_vars])

array([4, 4, 4, ..., 4, 4, 4])

In [8]:
df['Current_Cluster']=model.fit_predict(df[x_vars])

In [9]:
df.groupby('Current_Cluster').count()

,FIPS,area_name,state_abbreviation,Pop2014,Pop2010EST,Pop%Change,Pop2010,Under5%,Under18%,Over65%,...,Hispanic-owned%,Woman-owned,Manfact shipments 1k,Merchant sales 1k,Retail sales 1k,Retail sales/capita,Accomd/FoodServ sales 1k,BuildingPermits,LandArea,Pop/SqMile
Current_Cluster,,,,,,,,,,,,,,,,,,,,,
0,77,77,77,77,77,77,77,77,77,77,...,77,77,77,77,77,77,77,77,77,77
1,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2,296,296,296,296,296,296,296,296,296,296,...,296,296,296,296,296,296,296,296,296,296
3,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
4,2733,2733,2733,2733,2733,2733,2733,2733,2733,2733,...,2733,2733,2733,2733,2733,2733,2733,2733,2733,2733
5,22,22,22,22,22,22,22,22,22,22,...,22,22,22,22,22,22,22,22,22,22
6,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
7,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [10]:
#Clusters don't provide anything interesting
model=AgglomerativeClustering(n_clusters=6)
df['Current_Cluster']=model.fit_predict(df[x_vars])

In [11]:
df.groupby("Current_Cluster").count()

,FIPS,area_name,state_abbreviation,Pop2014,Pop2010EST,Pop%Change,Pop2010,Under5%,Under18%,Over65%,...,Hispanic-owned%,Woman-owned,Manfact shipments 1k,Merchant sales 1k,Retail sales 1k,Retail sales/capita,Accomd/FoodServ sales 1k,BuildingPermits,LandArea,Pop/SqMile
Current_Cluster,,,,,,,,,,,,,,,,,,,,,
0,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
1,77,77,77,77,77,77,77,77,77,77,...,77,77,77,77,77,77,77,77,77,77
2,296,296,296,296,296,296,296,296,296,296,...,296,296,296,296,296,296,296,296,296,296
3,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
4,2733,2733,2733,2733,2733,2733,2733,2733,2733,2733,...,2733,2733,2733,2733,2733,2733,2733,2733,2733,2733
5,22,22,22,22,22,22,22,22,22,22,...,22,22,22,22,22,22,22,22,22,22

In [12]:
demographic_vars=["Female%",
                     "White%","Black%","NativeA%","Asian%",
                    "PIsland%","TwoRace%","Latino", "WhiteNLat%"]

In [13]:
model=AgglomerativeClustering(n_clusters=7)
df['Demographic_Cluster']=model.fit_predict(df[demographic_vars])

In [14]:
df.groupby("Demographic_Cluster").count()

,FIPS,area_name,state_abbreviation,Pop2014,Pop2010EST,Pop%Change,Pop2010,Under5%,Under18%,Over65%,...,Woman-owned,Manfact shipments 1k,Merchant sales 1k,Retail sales 1k,Retail sales/capita,Accomd/FoodServ sales 1k,BuildingPermits,LandArea,Pop/SqMile,Current_Cluster
Demographic_Cluster,,,,,,,,,,,,,,,,,,,,,
0,241,241,241,241,241,241,241,241,241,241,...,241,241,241,241,241,241,241,241,241,241
1,296,296,296,296,296,296,296,296,296,296,...,296,296,296,296,296,296,296,296,296,296
2,792,792,792,792,792,792,792,792,792,792,...,792,792,792,792,792,792,792,792,792,792
3,115,115,115,115,115,115,115,115,115,115,...,115,115,115,115,115,115,115,115,115,115
4,40,40,40,40,40,40,40,40,40,40,...,40,40,40,40,40,40,40,40,40,40
5,1369,1369,1369,1369,1369,1369,1369,1369,1369,1369,...,1369,1369,1369,1369,1369,1369,1369,1369,1369,1369
6,290,290,290,290,290,290,290,290,290,290,...,290,290,290,290,290,290,290,290,290,290

In [15]:
economic_vars=["PerCapitaIncome","MedianIncome","%BelowPoverty"]

In [16]:
model=AgglomerativeClustering(n_clusters=9)
df['Economic_Cluster']=model.fit_predict(df[economic_vars])

In [17]:
df.groupby("Economic_Cluster").count()

,FIPS,area_name,state_abbreviation,Pop2014,Pop2010EST,Pop%Change,Pop2010,Under5%,Under18%,Over65%,...,Manfact shipments 1k,Merchant sales 1k,Retail sales 1k,Retail sales/capita,Accomd/FoodServ sales 1k,BuildingPermits,LandArea,Pop/SqMile,Current_Cluster,Demographic_Cluster
Economic_Cluster,,,,,,,,,,,,,,,,,,,,,
0,360,360,360,360,360,360,360,360,360,360,...,360,360,360,360,360,360,360,360,360,360
1,424,424,424,424,424,424,424,424,424,424,...,424,424,424,424,424,424,424,424,424,424
2,738,738,738,738,738,738,738,738,738,738,...,738,738,738,738,738,738,738,738,738,738
3,82,82,82,82,82,82,82,82,82,82,...,82,82,82,82,82,82,82,82,82,82
4,310,310,310,310,310,310,310,310,310,310,...,310,310,310,310,310,310,310,310,310,310
5,114,114,114,114,114,114,114,114,114,114,...,114,114,114,114,114,114,114,114,114,114
6,583,583,583,583,583,583,583,583,583,583,...,583,583,583,583,583,583,583,583,583,583
7,18,18,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18
8,514,514,514,514,514,514,514,514,514,514,...,514,514,514,514,514,514,514,514,514,514

In [18]:
#df.ix[df['Current_Cluster']==7][x_vars]

In [19]:
df.groupby('Economic_Cluster').mean()[economic_vars]

                  PerCapitaIncome   MedianIncome  %BelowPoverty
Economic_Cluster
0                    28243.338889   58171.777778      11.025833
1                    25885.386792   51312.167453      13.062500
2                    24134.746612   45675.508130      14.634011
3                    39171.963415   80639.731707       7.418293
4                    16637.496774   29762.177419      27.895484
5                    33379.307018   68719.157895       9.192982
6                    21206.725557   40905.231561      18.053002
7                    46312.388889  102764.666667       5.377778
8                    19312.258755   36193.416342      21.765759

In [20]:
owned_vars=["Black-owned%","Native-owned%","Asian-owned%","PIslnder-owned%",
                     "Hispanic-owned%","Woman-owned"]

In [21]:
model=AgglomerativeClustering(n_clusters=7)
df['Owned_Cluster']=model.fit_predict(df[owned_vars])

In [22]:
df.groupby("Current_Cluster").mean()[x_vars]

,Pop2014,Pop2010EST,Pop%Change,Pop2010,Under5%,Under18%,Over65%,Female%,White%,Black%,...,Hispanic-owned%,Woman-owned,Manfact shipments 1k,Merchant sales 1k,Retail sales 1k,Retail sales/capita,Accomd/FoodServ sales 1k,BuildingPermits,LandArea,Pop/SqMile
Current_Cluster,,,,,,,,,,,,,,,,,,,,,
0,2.471086e+06,2.364198e+06,4.523077,2.364018e+06,6.307692,22.753846,13.123077,50.992308,70.869231,14.015385,...,13.223077,29.738462,3.578565e+07,6.089743e+07,3.442630e+07,15520.230769,6.800680e+06,8454.230769,1821.058462,7436.092308
1,7.651135e+05,7.366467e+05,3.718182,7.366421e+05,6.302597,23.154545,13.619481,51.264935,72.301299,17.402597,...,5.753247,29.063636,1.324451e+07,1.118703e+07,9.534049e+06,13634.051948,1.378012e+06,2527.805195,593.113636,2680.985714
2,2.859993e+05,2.757933e+05,3.058784,2.757692e+05,6.136824,23.211486,14.770608,50.872297,81.302365,12.083784,...,3.781419,26.819932,4.589137e+06,2.615399e+06,3.601223e+06,13598.493243,5.312008e+05,1067.121622,859.275135,703.847297
3,7.279038e+06,6.955838e+06,5.750000,6.955532e+06,7.050000,24.950000,10.700000,50.450000,70.900000,14.350000,...,22.300000,29.700000,1.613094e+08,2.019573e+08,8.550545e+07,12756.000000,1.405644e+07,28859.500000,2880.680000,2411.000000
4,3.627781e+04,3.574508e+04,0.035419,3.574436e+04,5.851189,22.438529,18.048774,49.743286,86.008562,8.594694,...,1.211453,16.522027,3.522684e+05,1.341174e+05,3.928813e+05,9702.544823,5.181977e+04,100.498719,1153.955104,97.021515
5,1.339004e+06,1.275633e+06,4.763636,1.275626e+06,6.350000,23.518182,12.890909,51.068182,70.877273,17.350000,...,10.122727,29.163636,1.514703e+07,2.763388e+07,1.917806e+07,16042.545455,3.855206e+06,4223.954545,2213.518182,1528.395455

In [23]:
age_vars=["Under5%","Under18%","Over65%"]
model=AgglomerativeClustering(n_clusters=5)
df['Age_Cluster']=model.fit_predict(df[age_vars])

In [24]:
df.groupby("Age_Cluster").count()

,FIPS,area_name,state_abbreviation,Pop2014,Pop2010EST,Pop%Change,Pop2010,Under5%,Under18%,Over65%,...,Retail sales 1k,Retail sales/capita,Accomd/FoodServ sales 1k,BuildingPermits,LandArea,Pop/SqMile,Current_Cluster,Demographic_Cluster,Economic_Cluster,Owned_Cluster
Age_Cluster,,,,,,,,,,,,,,,,,,,,,
0,558,558,558,558,558,558,558,558,558,558,...,558,558,558,558,558,558,558,558,558,558
1,385,385,385,385,385,385,385,385,385,385,...,385,385,385,385,385,385,385,385,385,385
2,1310,1310,1310,1310,1310,1310,1310,1310,1310,1310,...,1310,1310,1310,1310,1310,1310,1310,1310,1310,1310
3,732,732,732,732,732,732,732,732,732,732,...,732,732,732,732,732,732,732,732,732,732
4,158,158,158,158,158,158,158,158,158,158,...,158,158,158,158,158,158,158,158,158,158

In [25]:
df.groupby('Current_Cluster').mean()[x_vars]

,Pop2014,Pop2010EST,Pop%Change,Pop2010,Under5%,Under18%,Over65%,Female%,White%,Black%,...,Hispanic-owned%,Woman-owned,Manfact shipments 1k,Merchant sales 1k,Retail sales 1k,Retail sales/capita,Accomd/FoodServ sales 1k,BuildingPermits,LandArea,Pop/SqMile
Current_Cluster,,,,,,,,,,,,,,,,,,,,,
0,2.471086e+06,2.364198e+06,4.523077,2.364018e+06,6.307692,22.753846,13.123077,50.992308,70.869231,14.015385,...,13.223077,29.738462,3.578565e+07,6.089743e+07,3.442630e+07,15520.230769,6.800680e+06,8454.230769,1821.058462,7436.092308
1,7.651135e+05,7.366467e+05,3.718182,7.366421e+05,6.302597,23.154545,13.619481,51.264935,72.301299,17.402597,...,5.753247,29.063636,1.324451e+07,1.118703e+07,9.534049e+06,13634.051948,1.378012e+06,2527.805195,593.113636,2680.985714
2,2.859993e+05,2.757933e+05,3.058784,2.757692e+05,6.136824,23.211486,14.770608,50.872297,81.302365,12.083784,...,3.781419,26.819932,4.589137e+06,2.615399e+06,3.601223e+06,13598.493243,5.312008e+05,1067.121622,859.275135,703.847297
3,7.279038e+06,6.955838e+06,5.750000,6.955532e+06,7.050000,24.950000,10.700000,50.450000,70.900000,14.350000,...,22.300000,29.700000,1.613094e+08,2.019573e+08,8.550545e+07,12756.000000,1.405644e+07,28859.500000,2880.680000,2411.000000
4,3.627781e+04,3.574508e+04,0.035419,3.574436e+04,5.851189,22.438529,18.048774,49.743286,86.008562,8.594694,...,1.211453,16.522027,3.522684e+05,1.341174e+05,3.928813e+05,9702.544823,5.181977e+04,100.498719,1153.955104,97.021515
5,1.339004e+06,1.275633e+06,4.763636,1.275626e+06,6.350000,23.518182,12.890909,51.068182,70.877273,17.350000,...,10.122727,29.163636,1.514703e+07,2.763388e+07,1.917806e+07,16042.545455,3.855206e+06,4223.954545,2213.518182,1528.395455

In [26]:
education_vars=["HighSchoolGrad%", "Bachelor%"]

In [27]:
age_vars=["Under5%","Under18%","Over65%"]
model=AgglomerativeClustering(n_clusters=6)
df['Education_Cluster']=model.fit_predict(df[education_vars])

In [28]:
df.groupby('Education_Cluster').count()

,FIPS,area_name,state_abbreviation,Pop2014,Pop2010EST,Pop%Change,Pop2010,Under5%,Under18%,Over65%,...,Retail sales/capita,Accomd/FoodServ sales 1k,BuildingPermits,LandArea,Pop/SqMile,Current_Cluster,Demographic_Cluster,Economic_Cluster,Owned_Cluster,Age_Cluster
Education_Cluster,,,,,,,,,,,,,,,,,,,,,
0,1028,1028,1028,1028,1028,1028,1028,1028,1028,1028,...,1028,1028,1028,1028,1028,1028,1028,1028,1028,1028
1,223,223,223,223,223,223,223,223,223,223,...,223,223,223,223,223,223,223,223,223,223
2,695,695,695,695,695,695,695,695,695,695,...,695,695,695,695,695,695,695,695,695,695
3,364,364,364,364,364,364,364,364,364,364,...,364,364,364,364,364,364,364,364,364,364
4,608,608,608,608,608,608,608,608,608,608,...,608,608,608,608,608,608,608,608,608,608
5,225,225,225,225,225,225,225,225,225,225,...,225,225,225,225,225,225,225,225,225,225

In [29]:
housing_vars = ["SameHouse1yr%", "TravelTime", "HousingUnits", "OwnershipRate", "UnitsinMultiUnit%",
                        "MedianValueHousing", "Households"]

In [30]:
#model=AgglomerativeClustering(n_clusters=12)
#df['Housing_Cluster']=model.fit_predict(df[housing_vars])
model=KMeans(7)
df['Housing_Cluster']=model.fit_predict(df[housing_vars])

In [31]:
%matplotlib inline
df.groupby("Housing_Cluster").count()

,FIPS,area_name,state_abbreviation,Pop2014,Pop2010EST,Pop%Change,Pop2010,Under5%,Under18%,Over65%,...,Accomd/FoodServ sales 1k,BuildingPermits,LandArea,Pop/SqMile,Current_Cluster,Demographic_Cluster,Economic_Cluster,Owned_Cluster,Age_Cluster,Education_Cluster
Housing_Cluster,,,,,,,,,,,,,,,,,,,,,
0,872,872,872,872,872,872,872,872,872,872,...,872,872,872,872,872,872,872,872,872,872
1,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
2,139,139,139,139,139,139,139,139,139,139,...,139,139,139,139,139,139,139,139,139,139
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001,...,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001
5,29,29,29,29,29,29,29,29,29,29,...,29,29,29,29,29,29,29,29,29,29
6,98,98,98,98,98,98,98,98,98,98,...,98,98,98,98,98,98,98,98,98,98

In [32]:
combined_vars=demographic_vars+economic_vars
model=AgglomerativeClustering(n_clusters=10)
df['Combined_Cluster']=model.fit_predict(df[combined_vars])

In [33]:
df2=pd.read_csv("data/US_County_Level_Presidential_Results_12-16.csv")
df2=df2.drop('Unnamed: 0',axis=1)
df2=df2[df2['state_abbr']!="AK"]

In [34]:
merged=pd.merge(df,df2, on='FIPS')
merged['change']=merged['per_point_diff_2016']-merged['per_point_diff_2012']

In [35]:
merged.groupby('Owned_Cluster').mean()[["per_point_diff_2016","per_point_diff_2012",'change']]

               per_point_diff_2016  per_point_diff_2012    change
Owned_Cluster
0                        -0.236131            -0.152195 -0.083936
1                        -0.456880            -0.324080 -0.132800
2                         0.060045             0.046205  0.013839
3                         0.121143             0.174149 -0.053006
4                        -0.376572            -0.252221 -0.124352
5                         0.465385             0.605231 -0.139846
6                         0.270833             0.307466 -0.036632

In [36]:
merged.groupby("Demographic_Cluster").mean()[["per_point_diff_2016","per_point_diff_2012",'change']]

                     per_point_diff_2016  per_point_diff_2012    change
Demographic_Cluster
0                               0.117533             0.173284 -0.055751
1                              -0.229421            -0.198247 -0.031175
2                              -0.355858            -0.275142 -0.080716
3                              -0.100190            -0.072188 -0.028002
4                               0.055759             0.200819 -0.145060
5                              -0.437890            -0.276645 -0.161245
6                              -0.235656            -0.176278 -0.059378

In [37]:
merged.groupby("Age_Cluster").mean()[["per_point_diff_2016","per_point_diff_2012",'change']]

             per_point_diff_2016  per_point_diff_2012    change
Age_Cluster
0                      -0.218125            -0.192503 -0.025622
1                      -0.435122            -0.309854 -0.125268
2                      -0.303720            -0.186930 -0.116790
3                      -0.433090            -0.279583 -0.153507
4                       0.035998             0.061453 -0.025454

In [38]:
merged.groupby("Owned_Cluster").mean()[["per_point_diff_2016","per_point_diff_2012",'change']]

               per_point_diff_2016  per_point_diff_2012    change
Owned_Cluster
0                        -0.236131            -0.152195 -0.083936
1                        -0.456880            -0.324080 -0.132800
2                         0.060045             0.046205  0.013839
3                         0.121143             0.174149 -0.053006
4                        -0.376572            -0.252221 -0.124352
5                         0.465385             0.605231 -0.139846
6                         0.270833             0.307466 -0.036632

In [39]:
merged.groupby("Economic_Cluster").mean()[["per_point_diff_2016","per_point_diff_2012",'change']]

                  per_point_diff_2016  per_point_diff_2012    change
Economic_Cluster
0                           -0.259036            -0.191306 -0.067730
1                           -0.289171            -0.197544 -0.091627
2                           -0.365610            -0.236910 -0.128700
3                           -0.026853            -0.062900  0.036047
4                           -0.211457            -0.098505 -0.112952
5                           -0.088063            -0.078054 -0.010009
6                           -0.412296            -0.285367 -0.126929
7                            0.165638             0.090154  0.075484
8                           -0.385251            -0.253295 -0.131956

In [40]:
merged.groupby('Education_Cluster').mean()[["per_point_diff_2016","per_point_diff_2012",'change']]

                   per_point_diff_2016  per_point_diff_2012    change
Education_Cluster
0                            -0.364807            -0.253526 -0.111282
1                             0.116437             0.070756  0.045681
2                            -0.386112            -0.270685 -0.115427
3                            -0.139580            -0.101398 -0.038182
4                            -0.446681            -0.257282 -0.189399
5                            -0.276305            -0.188000 -0.088305

In [41]:
df.groupby('Education_Cluster').mean()[education_vars]

                   HighSchoolGrad%  Bachelor%
Education_Cluster
0                        87.888813  20.743677
1                        91.545291  42.554260
2                        78.178993  13.532806
3                        90.057692  29.535165
4                        86.007401  14.197533
5                        69.242667  11.158667

In [42]:
#merged.groupby(['Education_Cluster','Demographic_Cluster']).mean()[["per_point_diff_2016","per_point_diff_2012",'change']]

In [43]:
merged.to_csv("ClustersCountiesVoting.csv")

In [44]:
combined_vars=demographic_vars+economic_vars
model=AgglomerativeClustering(n_clusters=10)
df['Combined_Cluster']=model.fit_predict(df[combined_vars])

In [45]:
df.groupby('Combined_Cluster').count()[combined_vars]

,Female%,White%,Black%,NativeA%,Asian%,PIsland%,TwoRace%,Latino,WhiteNLat%,PerCapitaIncome,MedianIncome,%BelowPoverty
Combined_Cluster,,,,,,,,,,,,
0,310,310,310,310,310,310,310,310,310,310,310,310
1,743,743,743,743,743,743,743,743,743,743,743,743
2,82,82,82,82,82,82,82,82,82,82,82,82
3,551,551,551,551,551,551,551,551,551,551,551,551
4,279,279,279,279,279,279,279,279,279,279,279,279
5,114,114,114,114,114,114,114,114,114,114,114,114
6,18,18,18,18,18,18,18,18,18,18,18,18
7,422,422,422,422,422,422,422,422,422,422,422,422
8,448,448,448,448,448,448,448,448,448,448,448,448
9,176,176,176,176,176,176,176,176,176,176,176,176

In [46]:
merged.to_csv("ClustersCountiesVoting.csv")